@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/assets/inter-roman-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF;
}

:root {
    --vp-c-white: #ffffff;
    --vp-c-black: #000000;
    --vp-c-neutral: var(--vp-c-black);
    --vp-c-neutral-inverse: var(--vp-c-white);
}

.dark {
    --vp-c-neutral: var(--vp-c-white);
    --vp-c-neutral-inverse: var(--vp-c-black);
}

:root {
    --vp-c-gray-1: #dddde3;
    --vp-c-gray-2: #e4e4e9;
    --vp-c-gray-3: #ebebef;
    --vp-c-indigo-1: #3451b2;
    --vp-c-indigo-2: #3a5ccc;
    --vp-c-indigo-3: #5672cd;
    --vp-c-green-1: #18794e;
    --vp-c-green-2: #299764;
    --vp-c-green-3: #30a46c;
}

.dark {
    --vp-c-gray-1: #515c67;
    --vp-c-gray-2: #414853;
    --vp-c-gray-3: #32363f;
    --vp-c-indigo-1: #a8b1ff;
    --vp-c-indigo-2: #5c73e7;
    --vp-c-indigo-3: #3e63dd;
    --vp-c-green-1: #3dd68c;
    --vp-c-green-2: #30a46c;
    --vp-c-green-3: #298459;
}

:root {
    --vp-c-bg: #ffffff;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-soft: #f6f6f7;
}

.dark {
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
}

:root {
    --vp-c-border: #c2c2c4;
    --vp-c-divider: #e2e2e3;
}

.dark {
    --vp-c-border: #3c3f44;
    --vp-c-divider: #2e2e32;
}

:root {
    --vp-c-text-1: #3c3c43;
    --vp-c-text-2: #67676c;
    --vp-c-text-3: #929295;
}

.dark {
    --vp-c-text-1: #dfdfd6;
    --vp-c-text-2: #98989f;
    --vp-c-text-3: #6a6a71;
}

:root {
    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-3);
}

:root {
    --vp-font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --vp-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}

:root {
    --vp-nav-height: 64px;
    --vp-sidebar-width: 272px;
    --vp-layout-max-width: 1440px;
    --vp-layout-padding: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.4;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    color-scheme: light dark;
}

html.dark {
    color-scheme: dark;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 24px;
    font-family: var(--vp-font-family-base);
    font-size: 16px;
    font-weight: 400;
    color: var(--vp-c-text-1);
    background-color: var(--vp-c-bg);
    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: var(--vp-c-text-1);
}

p {
    margin: 0;
}

a {
    color: var(--vp-c-brand-1);
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: var(--vp-c-brand-2);
}

button {
  all: unset
}

#app {
    width: 100%;
    min-height: 100vh;
    color: var(--vp-c-text-1);
    background-color: var(--vp-c-bg);
    transition: color 0.25s, background-color 0.25s;
}

@media (min-width: 640px) {
    :root {
        --vp-layout-padding: 20px;
    }

    h1 {
        font-size: 2.25em;
        line-height: 1.2;
    }
}

@media (min-width: 960px) {
    :root {
        --vp-layout-padding: 28px;
    }

    body {
        font-size: 17px;
        line-height: 26px;
    }
}

@media (min-width: 1280px) {
    :root {
        --vp-layout-padding: 32px;
    }

    #app {
        max-width: var(--vp-layout-max-width);
        margin: 0 auto;
    }
}
